@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 400px;
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    font-family: 'roboto';
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    font-size: 0.3cm;
    outline: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

.mobile {
    font-size: 4vw !important;
}

input {
    font-family: 'roboto' !important;
    font-size: inherit !important;
    height: 2em;
    padding: 0.8rem;
    margin: 0.1rem 0;
    border: none;
    border-radius: 0 !important;
}

label {
    cursor: pointer;
    position: relative;
    padding-left: 1.5rem;
}

button {
    color: white;
    background-color: #419ad4;
    border: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: inherit;
}

button:active {
    transform: scale3d(0.99, 0.99, 0.99);
}

button:hover {
    background-color: #57a5d8;
}

button.cancel {
    background-color: #a53825;
}

button.cancel:hover {
    background-color: #bd4631;
}

button.save {
    background-color: #1b801b;
}

button.save:hover {
    background-color: #32a732;
}

input[type=checkbox] {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

label:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-top: none;
    border-right: none;
}

label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #434a5c;
    top: 0;
    left: 3px;
    bottom: 0;
    margin: auto;
    border: 1px solid #434a5c;
    transition: all 0.1s;
}

input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.disabled {
    filter: grayscale(1);
    opacity: 0.6;
    pointer-events: none;
}

/* ================== MOBILE  ================== */

.mobile label {
    padding-left: 2.5rem;
}

.mobile label:before {
    width: 25px;
    height: 25px;
}

.mobile label:after {
    width: 15px;
    height: 15px;
    left: 4px;
}

.mobile input {
    width: 100%;
    margin: 0.1em 0;
    height: 2.5em;
}