@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 650px;
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    font-family: 'roboto';
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    font-size: 0.3cm;
    outline: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

body.mobile.landscape {
    min-height: auto !important;
}

body.mobile.landscape>div {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 1em;
}

/* Track */

::-webkit-scrollbar-track {
    background: #4c5465;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #393f4c;
}

.mobile {
    font-size: 4vw !important;
}

input {
    outline: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: 'roboto' !important;
    font-size: inherit !important;
    height: 2em;
    padding: 0 0.8rem;
    margin: 0.1rem 0;
    border-radius: 0 !important;
    background-color: #313c4a;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.12);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

label {
    cursor: pointer;
    position: relative;
    padding-left: 1.5rem;
}

button {
    outline: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    color: white;
    background-color: #419ad4;
    border: none;
    padding: 0.45rem 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.2s;
}

button:active {
    filter: brightness(1.3);
}

button:hover {
    background-color: #368bc4;
}

button.cancel {
    background-color: #a53825;
}

button.cancel:hover {
    background-color: #97301d;
}

button.config {
    background-color: #313c4a;
}

button.config:hover {
    background-color: #2d3844;
}

button.save {
    background-color: #259063;
}

button.save:hover {
    background-color: #1e7f56;
}

button.disabled {
    opacity: 0.8;
    filter: grayscale(1);
}

input[type=checkbox] {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    display: none;
}

fieldset {
    display: inline-block;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.2em 0.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset legend {
    padding: 0 0.3em;
}

label:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #313c4a;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #dd9853;
    top: 0;
    left: 3px;
    bottom: 0;
    margin: auto;
    border: 1px solid #dd9853;
    transition: all 0.1s;
}

input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.disabled {
    pointer-events: none;
}

#block-ui {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    cursor: wait;
    z-index: 10000;
}

/* Slider */

input[type="range"] {
    -webkit-appearance: none;
    width: 160px;
    height: 20px;
    margin: 10px 50px;
    background: #313c4a;
    background: linear-gradient(to right, #313c4a 0%, #313c4a 100%);
    background-size: 100% 0.5em;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    overflow: visible;
    border: none;
    cursor: pointer;
    outline: none;
}

input[type="range"]:first-of-type {
    margin-top: 30px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.3em;
    height: 1.3em;
    background: #dd9853;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

input[type="range"]::-webkit-slider-thumb:after {
    content: " ";
    width: 160px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 5px;
    background: #dd9853;
    background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

.slider {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 0 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.slider span {
    margin: 0 0.5em 0 0;
    white-space: nowrap;
}

.slider input[type="range"] {
    margin: 0 0.5em;
    flex: 1;
}

.slider input[type="text"] {
    margin: 0;
    width: 5em;
    padding: 0 0.6em;
    text-align: center;
}

/* Slider end */

p {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
    font-size: 32px;
    margin-top: 30px;
}

pre {
    color: #fdba41;
    padding: 0.1em 0.3em;
    display: inline;
}

/* ================== MOBILE  ================== */

.mobile label {
    padding-left: 2.5rem;
}

.mobile label:before {
    width: 25px;
    height: 25px;
}

.mobile label:after {
    width: 15px;
    height: 15px;
    left: 4px;
}

.mobile .slider {
    width: 100%;
    flex-wrap: wrap;
    padding: 0.5em 0 0 0.5em;
}

.mobile input[type="range"] {
    flex: 1;
}

.mobile .slider span {
    width: 100%;
}

.mobile input {
    width: 100%;
    margin: 0.1em 0;
    height: 2.5em;
}

.mobile button {
    padding: 0.7em;
}

.mobile button:active {
    filter: brightness(1);
}

.mobile button:hover {
    background-color: #419ad4;
}

.mobile button.cancel:hover {
    background-color: #a53825;
}

.mobile button.config:hover {
    background-color: #313c4a;
}

.mobile button.save:hover {
    background-color: #259063;
}