.select {
    display: inline-table;
    position: relative;
    margin: 0.1rem 0;
    vertical-align: top;
    width: 12em;
    height: 2em;
}

.select.disabled {
    filter: grayscale(1) opacity(0.5);
}

.selected,
.option {
    height: 2em;
    padding-right: 3em;
    padding-left: 0.5em;
    line-height: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.option:hover,
.selected:hover {
    background-color: #ce853c;
    cursor: pointer;
}

.options-wrapper {
    background-color: #425269;
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.15);
    transition: opacity 0.2s, transform 0.2s;
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 3;
    width: 100%;
    max-height: 20em;
    /* min-width: fit-content; */
    overflow: auto;
}

.options-wrapper.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -1.5em, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    height: 0;
}

.option {
    background-color: #434a5c;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    background-image: url("../images/dropdown-arrow.png");
    background-repeat: no-repeat;
    color: white;
    background-position: right;
    background-size: auto 100%;
    background-color: #dd9853;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: 0.2s background-color;
    width: 12em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    left: 0;
}

/* ================== MOBILE  ================== */

.mobile .select,
.mobile .selected {
    width: 100%;
}

.mobile .options-wrapper {
    top: 2.5em;
}

.mobile .select {
    height: 2.5em;
}

.mobile .option:hover,
.mobile .selected:hover {
    background-color: #dd9853;
}

.mobile .select.multiple .option:hover {
    background-color: #434a5c !important;
}