.select {
    display: inline-table;
    position: relative;
    margin: 0.1rem 0;
    vertical-align: top;
    width: 12em;
    height: 2em;
}

.select.disabled {
    filter: grayscale(1) opacity(0.5);
}

.selected,
.option {
    height: 2em;
    padding-right: 3em;
    padding-left: 0.5em;
    line-height: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.option:hover,
.option:focus,
.option:focus-within,
.option:active,
.option.focused,
.selected:hover {
    background-color: #ce853c;
    cursor: pointer;
}

.options-wrapper {
    background-color: #434a5c;
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.15);
    transition: opacity 0.2s, transform 0.2s;
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 3;
    width: 100%;
    max-height: 20em;
    /* min-width: fit-content; */
    overflow: auto;
}

.options-wrapper.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -1.5em, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    height: 0;
}

.select .select-search {
    display: flex;
    border-bottom: 1px solid #393f4c;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0.3em;
    align-items: center;
}

.select .select-search .select-search-button {
    position: relative;
    height: 2em;
    border-radius: 2px;
    display: none;
}

.select .select-search .select-search-label {
    display: none;
}

.select .select-search .select-search-button img {
    position: absolute;
    height: 50%;
}

.select .select-search .select-search-input {
    width: 98%;
    padding: 0 0.4em;
    margin: 0;
}

.select .select-search.collapsed .select-search-input {
    display: none;
}

.select .select-search.collapsed .select-search-button {
    display: flex;
}

.select .select-search.collapsed .select-search-label {
    display: block;
}


.option {
    background-color: #434a5c;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    background-image: url("../images/dropdown-arrow.png");
    background-repeat: no-repeat;
    color: white;
    background-position: right;
    background-size: auto 100%;
    background-color: #dd9853;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: 0.2s background-color;
    width: 12em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    left: 0;
}

/* ================== MOBILE  ================== */

.mobile .select,
.mobile .selected {
    width: 100%;
}

.mobile .options-wrapper {
    top: 0;
    bottom: 0;
    margin: auto 1em;
    position: fixed;
    height: 60%;
    width: calc(100% - 2em);
}

.mobile .select {
    height: 2.5em;
}

.mobile .option:hover,
.mobile .selected:hover {
    background-color: #dd9853;
}

.mobile .select.multiple .option:hover {
    background-color: #434a5c !important;
}