.toast {
    position: fixed;
    bottom: 0;
    width: 40em;
    padding: 1em;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0.2em 0.2em #353e4f;
    color: white;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.5s;
    z-index: 4;
}

.toast.show {
    transform: translate3d(0, -100%, 0);
}

.toast.info {
    background: #425269;
}

.toast.warning {
    background: #735325;
}

.toast.error {
    background: #694242;
}

.toast.success {
    background: #259063;
}

/* MOBILE */

.mobile .toast {
    width: 80%;
}