.table {
    overflow: auto;
    position: relative;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.tbody {
    display: grid;
    position: absolute;
    min-width: 100%;
    top: 0;
    left: 0;
    grid-template-columns: repeat(10, 1fr);
}

.sticky .table-col:nth-child(1) {
    top: 0;
    left: 0;
    z-index: 1;
}

.table-head {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #dd9853 !important;
    color: #ffffff !important;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s background-color;
}

.table-head:hover {
    background-color: #ce853c !important;
}

.table-head:hover>.remove-btn {
    opacity: 1;
}

.table-head:nth-child(1) {
    left: 0;
}

.sticky .table-col:nth-child(1),
.sticky .table-head {
    position: sticky;
    position: -webkit-sticky;
}

.table-cell {
    padding: 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    background-color: #313c4a;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

.remove-btn {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background 0.3s, opacity 0.3s;
}

.remove-btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.remove-btn:active {
    transform: scale3d(0.9, 0.9, 0.9);
}

.table-cell.hover {
    background-color: #3e4a58;
}

table {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-spacing: 0;
    border-collapse: separate;
}

tr {
    background-color: #313c4a;
    transition: background-color 0.2s;
}

tr:hover {
    background-color: #3e4a58;
    cursor: pointer;
}

td {
    color: white;
    padding: 0.5em 0.8em;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-left: 1px solid rgba(255, 255, 255, 0.12);
}

caption>div {
    color: white;
    padding: 0.5em 0.8em;
    width: calc(100% - 1px);
    box-sizing: border-box;
    border-bottom: none;
    background-color: #dd9853;
}

tbody>tr:nth-child(1)>td {
    border-top: none;
}

tbody>tr>td:nth-child(1) {
    border-left: none;
}

/* ================== MOBILE  ================== */

.mobile tr:hover {
    background-color: transparent;
    cursor: pointer;
}

.mobile .table-head:hover {
    background-color: #dd9853 !important;
}

.mobile .remove-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}