.table {
    overflow: auto;
    position: relative;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    margin: 0.1em 0;
}

.first.cell {
    top: 0;
    left: 0;
}

.cell {
    padding: 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    background-color: #313c4a;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

.cell.hover {
    background-color: #3e4a58;
}

.head.cell {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #dd9853 !important;
    color: #ffffff !important;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s background-color;
}

.head.cell:hover {
    background-color: #ce853c !important;
}

.head.cell:hover>.remove-btn {
    opacity: 1;
}

.head.cell:nth-child(1) {
    left: 0;
    z-index: 2;
}

.sticky .first.cell,
.sticky .head.cell {
    position: sticky;
    position: -webkit-sticky;
}

.sticky .first.cell {
    z-index: 1;
}

.tbody {
    display: grid;
    position: absolute;
    min-width: 100%;
    top: 0;
    left: 0;
}

.remove-btn {
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background 0.3s, opacity 0.3s;
}

.remove-btn::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 13px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.remove-btn::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 13px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.remove-btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.remove-btn:active {
    transform: scale3d(0.9, 0.9, 0.9);
}

table {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-spacing: 0;
    border-collapse: separate;
}

tr {
    background-color: #313c4a;
    transition: background-color 0.2s;
}

tr:hover {
    background-color: #3e4a58;
    cursor: pointer;
}

td,
th {
    color: white;
    padding: 0.5em 0.8em;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-left: 1px solid rgba(255, 255, 255, 0.12);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

th {
    background-color: #313c4a;
    cursor: default;
}

caption {
    display: flex;
    color: white;
    background-color: #dd9853;
    border-bottom: none;
}

.caption-title {
    padding: 0.5em 0.8em;
    box-sizing: border-box;
    width: calc(100% - 1px);
}

tbody>tr:nth-child(1)>td {
    border-top: none;
}

tbody>tr>td:nth-child(1) {
    border-left: none;
}

/* ================== MOBILE  ================== */

.mobile tr:hover {
    background-color: transparent;
    cursor: pointer;
}

.mobile .head.cell:hover {
    background-color: #dd9853 !important;
}

.mobile .remove-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.mobile .remove-btn::after {
    width: 23px;
}

.mobile .remove-btn::before {
    height: 23px;
}