/* ACCOUNTING */

#accounting fieldset.disabled {
    display: none;
}

#accounting-get-reports.hidden,
#accounting-reports-download.hidden,
#accounting-reports-download-excel.hidden {
    display: none;
}

#accounting-get-reports,
#accounting-reports-download,
#accounting-reports-download-excel {
    display: inline;
}

#accounting-reports-filter {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

#accounting-reports-filter>* {
    margin: 0.5em 0.5em;

}

#accounting-reports-filter>fieldset {
    margin-bottom: 0;
}

#accounting-reports .tbody .table-col>div:nth-last-child(1) {
    background-color: #3e4a58;
}

#accounting-reports-footer,
#accounting-reports-header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 0.3em 0;
    font-size: 1.5em;
    background-color: #313c4a;
}

#accounting-reports-footer.hidden,
#accounting-reports-header.hidden {
    display: none;
}

#accounting-reports-footer>div,
#accounting-reports-header>div {
    margin: 0 1em;
}

#accounting-reports-footer>div>span:nth-child(2),
#accounting-reports-header>div>span:nth-child(2) {
    margin-left: 0.5em;
    font-weight: bold;
}

#accounting-reports-reduction {
    width: 10em;
}

/* SETUP */

#accounting-setup>.page-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#accounting-operators-table {
    flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4em;
}

#accounting-operators-table table {
    width: 100%;
}

#accounting-operators-table.hidden {
    display: none;
}

/* Form */

.accounting-setup-form-title {
    display: flex;
}

.accounting-setup-form-title>h2 {
    flex: 1;
}

/* Buttons */

#accounting-setup-form-cancel {
    align-self: center;
    transition: all 0.3s;
    position: relative;
    width: 3em;
    height: 3em;
}

#accounting-setup-form-cancel::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

#accounting-setup-form-cancel::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

#accounting-setup-form-create-tax {
    display: none;
}

#accounting-setup-form-button-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.3em;
}

#accounting-setup-form-button-wrapper.scaled {
    grid-template-columns: 1fr 1fr;
}

#accounting-setup-form-button-wrapper.scaled #accounting-setup-form-create-tax {
    display: block;
}

#accounting-setup-form-button-wrapper button,
#accounting-setup-form-tax-button-wrapper button {
    margin: 0.3em 0;
    width: 100%;
}

/* Tax */

#accounting-setup-form-tax-button-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.3em;
}

#accounting-setup-form-tax-button-wrapper.edit {
    grid-template-columns: 1fr 1fr;
}

#accounting-setup-form-tax-button-wrapper #accounting-setup-form-tax-remove {
    display: none;
}

#accounting-setup-form-tax-button-wrapper.edit #accounting-setup-form-tax-remove {
    display: block;
}

#accounting-setup-form-tax {
    position: absolute;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #434a5c;
    transition: transform 0.5s, box-shadow 0.1s;
    transform: translate3d(100%, 0, 0);
}

#accounting-setup-form-tax-back {
    margin-right: 2em;
    height: 2.5em;
    align-self: center;
}

#accounting-setup-form-tax.show {
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, 0, 0);
}

/* Buttons end */

#accounting-setup-form {
    position: fixed;
    width: 35em;
    height: 35em;
    max-height: 100%;
    align-self: center;
    background-color: #434a5c;
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -25%, 0);
    opacity: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s;
}

#accounting-setup-form.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
}

.accounting-setup-form-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.accounting-setup-form-wrapper h2 {
    margin: 0.5em 0;
}

.accounting-setup-form-inputs,
.accounting-setup-form-inputs>div {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#accounting-setup-form-inputs-fixed>* {
    align-self: center;
    width: 100%;
}

.accounting-setup-form-inputs>form {
    justify-content: center;
    display: flex;
    margin: 0.8em 0;
}

.accounting-setup-form-inputs>div>* {
    margin: 0.3em 0;
}

.accounting-setup-form-inputs>div.hidden {
    display: none !important;
}

#accounting-setup-form table {
    width: 100%;
}

#accounting-setup-form table td label {
    width: 100%;
}

#accounting-setup-form table td {
    display: flex;
}

#accounting-setup-scaled-table caption {
    display: table-caption;
}

#accounting-setup-scaled-table table td {
    display: table-cell;
    text-align: center;
}

#accounting-setup-scaled-table table {
    table-layout: fixed;
}

#accounting-setup-form-tax .accounting-setup-form-inputs {
    padding: 0.8em 0;
}

/* Switch */

.accounting-setup-form-inputs form label::before,
.accounting-setup-form-inputs form label::after {
    display: none;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px;
    height: 20px;
    width: 20px;
    background-color: #313c4a;
    border-radius: 20px;
    padding: 0 20px 0 0 !important;
}

.switch div {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #dd9853;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.switch span {
    background: #c17743;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    transition: all 300ms;
}

.switch input:checked~div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.switch input:checked+span {
    opacity: 1;
}

.switch:before,
.switch:after {
    display: none !important;
}

#label-for-accounting-setup-checkbox {
    padding: 0 0 0 1em;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* SETUP OPERATORS SEARCH */

#accounting-setup-search-wrapper{
    display: flex;
    position: absolute;
}

#accounting-setup-search-wrapper.hidden{
    display: none;
}

#accounting-setup-search-wrapper input {
    width: 30em;
    text-align: center;
    display: inline-block;
}

#accounting-setup-remove-search {
    background: transparent;
    height: 2.2em;
    padding: 0;
    width: 1.5em;
    border-radius: 2px;
    margin-left: -1.8em;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#accounting-setup-remove-search:hover {
    background-color: #a53825;
}

/* COMPANIES */

#accounting-companies-get-operators.hidden,
#accounting-companies-data.hidden,
#accounting-comapnies-data-reports.hidden,
#accounting-companies-time-span.hidden,
#accounting-companies-excel-download.hidden,
#accounting-companies-pdf-download.hidden {
    display: none;
}

#accounting-companies-data input {
    background-color: #222931; 
}

#accounting-companies-companies-list-wrapper {
    height: 2em;
}

#accounting-companies-filter>fieldset {
    margin-bottom: 0;
}

#accounting-companies-filter {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

#accounting-companies-filter>* {
    margin: 0.5em 0.5em;
}

#accounting-companies-data {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2em;
}

#accounting-companies-operators-table {
    display: flex;
}

#accounting-companies-operators-table,
#accounting-companies-operators-table table {
    flex: 1;
}

#accounting-companies-operators-table td {
    display: flex;
    justify-content: space-between;
}

#accounting-companies-get-reports {
    align-self: flex-end;
    width: 10%;
    margin-top: 2em;
}

#accounting-comapnies-reports-header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 0.3em 0;
    font-size: 1.5em;
    background-color: #313c4a;
}

#accounting-comapnies-reports-header.hidden {
    display: none;
}

#accounting-comapnies-reports-header>div {
    margin: 0 1em;
}

#accounting-comapnies-reports-operators-filter {
    font-size: 0.7em;
}

#accounting-comapnies-reports-header>div>span:nth-child(2) {
    margin-left: 0.5em;
    font-weight: bold;
}

/* MOBILE */

.mobile #accounting-reports-footer>div,
.mobile #accounting-reports-header>div {
    margin: 0;
    width: 100%;
}

.mobile #accounting-operators-list-wrapper,
.mobile #accounting-portals-list-wrapper,
.mobile #accounting-reports-filter button,
.mobile #accounting-reports-filter #accounting-reports-reduction {
    width: 100%;
}

.mobile .accounting-setup-form-wrapper {
    padding: 0;
}

.mobile #accounting-setup-form-cancel,
.mobile #accounting-setup-form-back {
    background-color: #313c4a !important;
}

.mobile #accounting-setup-form {
    /* position: absolute; */
    /* bottom: auto; */
    position: fixed;
    width: 95%;
    height: 91.5%;
    box-shadow: none;
    right: auto;
    bottom: 0;
    margin: 0;
}

.mobile .accounting-setup-form-inputs,
.mobile .accounting-setup-form-inputs>div {
    display: block;
}

.mobile .switch {
    height: 30px;
    width: 40px;
}

.mobile .switch div {
    height: 30px;
    width: 30px;
}

.mobile #accounting-setup-search-wrapper input {
    width: 85%;
}

.mobile #accounting-setup-remove-search {
    background-color: #a53825;
    height: 1.75em;
    width: 1.75em;
    border-radius: 3px;
    margin-left: 0.2em;
}