/* ACCOUNTING FAZI */

#advance-statistics .datepicker.disabled {
    display: none !important;
}

#advance-statistics-total-filter,
#advance-statistics-players-filter,
#advance-statistics-portals-filter,
#advance-statistics-bets-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#advance-statistics-total-filter>*,
#advance-statistics-players-filter>*,
#advance-statistics-portals-filter>*,
#advance-statistics-bets-filter>* {
    margin: 0.5em 0.5em;
    display: inline;
}

#advance-statistics-get-total.hidden,
#advance-statistics-get-players.hidden,
#advance-statistics-get-portals.hidden,
#advance-statistics-get-bets.hidden {
    display: none !important;
}

/* #advance-statistics-get-total,
#advance-statistics-get-players,
#advance-statistics-get-portals,
#advance-statistics-get-bets {} */

#advance-statistics-main-table>h2 {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    padding-bottom: 1em;
    margin-bottom: 0;
}

#advance-statistics-main-table {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#advance-statistics-main-table table {
    width: 100%;
}

#advance-statistics-main-table.hidden {
    display: none;
}

.operators-form-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* PLAYER FORM */

.players-form-title {
    display: flex;
}

.players-form-title>h2 {
    flex: 1;
}

#players-form {
    position: fixed;
    width: 70em;
    height: 35em;
    max-height: 100%;
    align-self: center;
    background-color: #434a5c;
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -25%, 0);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 1;
}

#players-form.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
}

#players-black-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

.players-form-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.players-form-wrapper h2 {
    margin: 0.5em 0;
}

#operator-name.disabled {
    filter: grayscale(1) opacity(0.5);
}

#players-form-table {
    width: 95%;
    overflow: auto;
    flex: 1;
    display: flex;
    margin: 1em;
    flex-direction: column;
}

#players-form-cancel{
    align-self: center;
    transition: all 0.3s;
}

#players-form-cancel {
    position: relative;
    width: 3em;
    height: 3em;
}

#players-form-cancel::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

#players-form-cancel::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

/* SWITCH */

#switch-and-search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2.5em;
}

#advance-statistics-bets-switch-wrapper{
    margin-top: 1em;
}

#switch-and-search-wrapper.hidden {
    display: none;
}

#advance-statistics-bets-switch {
    padding-left: 2em; 
    padding-right: 2em; 
    justify-content: center;
}

#advance-statistics-bets-switch span{
    background: #313c4a !important;
}

#label-before-advance-statistics-bets-checkbox {
    padding-right: 1rem !important;
    padding-left: 0 !important;
}
#label-after-advance-statistics-bets-checkbox {
    padding-left: 1rem !important;
}

#label-before-advance-statistics-bets-checkbox:before,
#label-before-advance-statistics-bets-checkbox:after,
#label-after-advance-statistics-bets-checkbox:before,
#label-after-advance-statistics-bets-checkbox:after {
    display: none !important;
}

/* BETS GAMES SEARCH */

#advance-statistics-bets-search-wrapper input {
    width: 30em;
    text-align: center;
    display: inline-block;
}

#advance-statistics-bets-remove-search {
    background: transparent;
    height: 1.5em;
    padding: 0;
    width: 1.5em;
    border-radius: 2px;
    margin-left: -1.8em;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#advance-statistics-bets-remove-search:hover {
    background-color: #a53825;
}

/* BETS SECOND FILTER */

#bets-second-filter {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
}

#bets-second-filter.hidden{
    display: none;
}

#advance-statistics-wanted-percentage,
#advance-statistics-get-bets-percentage,
#advance-statistics-second-filter-result {
    display: inline-block;
    margin: inherit;
}

/* MOBILE */

.mobile #advance-statistics-total-filter>*,
.mobile #advance-statistics-players-filter>*,
.mobile #advance-statistics-portals-filter>*,
.mobile #advance-statistics-bets-filter>* {
    margin: 0.5em 0;
}

.mobile #advance-statistics-get-total,
.mobile #advance-statistics-get-players,
.mobile #advance-statistics-get-portals,
.mobile #advance-statistics-get-bets {
    padding: 0.85rem 1rem;
    width: 100%;
}

.mobile #advance-statistics-bets-search-wrapper input {
    width: 100%;
}

.mobile #advance-statistics-bets-remove-search {
    background-color: #a53825;
    height: 1.8em;
    width: 1.8em;
    border-radius: 3px;
    margin-left: -2.4em;
}