#configuration-main>.page-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.configuration-section {
    flex: 1;
    box-sizing: border-box;
    padding: 0 1em;
}

.configuration-section.hidden {
    display: none;
}

.configuration-section table {
    width: 100%;
}

#configuration-black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

/* FORM */

.configuration-form-title {
    display: flex;
}

.configuration-form-title>h2 {
    flex: 1;
}

.configuration-add-new,
.configuration-form-cancel {
    width: 3em;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 2px 3px 0;
    border-radius: 0.2em;
}

.configuration-form-cancel {
    align-self: center;
    transition: all 0.3s;
}

.configuration-add-new::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 0.7rem;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.configuration-add-new::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 0.7rem;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

/* .configuration-add-new:hover {
    background-color: rgba(0, 0, 0, 0.43);
} */

#configuration-form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 35em;
    height: 35em;
    background-color: #434a5c;
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -25%, 0);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s;
}

#configuration-form.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
}

.configuration-form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    display: none;
}

.configuration-form-wrapper h2 {
    margin: 0.5em 0;
}

.configuration-form-wrapper.active {
    display: flex;
}

#configuration-form input[type='text'] {
    width: 100%;
}

.configuration-form-table,
.configuration-form-inputs {
    width: 100%;
    overflow: auto;
    flex: 1;
    margin: 1em 0;
}

.configuration-form-inputs {
    display: flex;
    flex-direction: column;
}

.configuration-form-inputs input {
    margin: 0.3em 0;
}

#configuration-form table {
    width: 100%;
}

#configuration-form table td label {
    width: 100%;
}

#configuration-form table td {
    display: flex;
}

.configuration-form-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.3em;
}

#configuration-form-button-wrapper button {
    margin: 0.3em 0;
    width: 100%;
}

.configuration-form-button-wrapper button:nth-child(2) {
    float: right;
}

.configuration-form-button-wrapper.edit {
    grid-template-columns: 1fr;
}

.configuration-form-button-wrapper.edit .configuration-remove {
    display: none;
}

/* PROFILE */

#configuration-profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: auto;
}

.configuration-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configuration-profile-wrapper input,
.configuration-profile-wrapper button {
    width: 100%;
    max-width: 20em;
}

.configuration-profile-wrapper button {
    margin-top: 1em;
}

/* MOBILE */

.mobile #configuration-form-users .configuration-form-inputs {
    margin-top: 0;
}

.mobile .configuration-form-cancel:hover {
    background-color: #313c4a !important;
}

.mobile #configuration-form {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none;
    bottom: auto;
    right: auto;
    margin: 0;
}

.mobile .configuration-section {
    flex: auto;
    margin-bottom: 1em;
}

.mobile #configuration-profile-form {
    grid-template-columns: 1fr;
}

.mobile .configuration-profile-wrapper input,
.mobile .configuration-profile-wrapper button {
    width: 100%;
}