#configuration-main>.page-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.configuration-section {
    flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1em;
}

.configuration-section.hidden {
    display: none;
}

.configuration-section table {
    width: 100%;
}

#configuration-black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.disabled-user {
    color: #ff7373;
    opacity: 0.5;
}

/* FORM */

.configuration-form-title {
    display: flex;
}

.configuration-form-title>h2 {
    flex: 1;
}

.configuration-add-new,
.configuration-form-cancel,
.configuration-search {
    width: 3em;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 2px 3px 0;
    border-radius: 0.2em;
}

#configuration-currency-navbar-buttons-wrapper.hidden,
#configuration-update-currency-button.hidden{
    display: none;
}

#configuration-currency-navbar-buttons-wrapper{
    display: flex;
}

#configuration-add-new-currency-button {
    width: 3em;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 2px 3px 0;
    border-radius: 0.2em;
}

#configuration-add-new-currency-button::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 0.7rem;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

#configuration-add-new-currency-button::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 0.7rem;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

#configuration-update-currency-button{
    margin: 2px 2px 3px 0;
    border-radius: 0.2em;
}

.configuration-search {
    position: relative;
}

.configuration-search img {
    position: absolute;
    height: 50%;
}

.configuration-form-cancel {
    align-self: center;
    transition: all 0.3s;
    position: relative;
    width: 3em;
    height: 3em;
}

.configuration-form-cancel::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.configuration-form-cancel::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.configuration-add-new::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 0.7rem;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.configuration-add-new::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 0.7rem;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

#configuration-form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 35em;
    height: 35em;
    background-color: #434a5c;
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -25%, 0);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s;
}

#configuration-form.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
}

.configuration-form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}

.configuration-form-wrapper h2 {
    margin: 0.5em 0;
}

.configuration-form-wrapper.active {
    display: flex;
}

.configuration-form-wrapper .select,
.configuration-form-wrapper .selected {
    width: 100%;
}

#configuration-form input[type='text'] {
    width: 100%;
}

.configuration-form-table,
.configuration-form-bet-group-wrapper {
    width: 100%;
    overflow: auto;
    flex: 1;
    margin: 1em 0;
}

.configuration-form-bet-group-wrapper {
    display: flex;
    flex-direction: column;
}

#configuration-form table {
    width: 100%;
}

#configuration-form table td label {
    width: 100%;
}

#configuration-form table td {
    display: flex;
}

#configuration-user-enabled-wrapper {
    width: 100%;
    margin: auto 0;
    text-align: center;
}

.configuration-form-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.3em;
}

#configuration-form-button-wrapper button {
    margin: 0.3em 0;
    width: 100%;
}

.configuration-form-button-wrapper button:nth-child(2) {
    float: right;
}

.configuration-form-button-wrapper.edit {
    grid-template-columns: 1fr;
}

.configuration-form-button-wrapper.edit .configuration-remove {
    display: none;
}

#configuration-form-users .configuration-form-button-wrapper {
    grid-template-columns: 1fr;
}

#configuration-user-role {
    width: 100%;
}

/* PROFILE */

#configuration-profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: auto;
}

.configuration-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configuration-profile-wrapper input,
.configuration-profile-wrapper button {
    width: 100%;
    max-width: 20em;
}

.configuration-profile-wrapper button {
    margin-top: 1em;
}

.configuration-table {
    overflow: auto;
    max-height: 30em;
}

#configuration-users {
    margin-bottom: 1em;
}

#configuration-actions {
    margin-bottom: 1em;
}

#configuration-profile-notifications-wrapper {
    width: 100%;
    max-width: 20em;
    text-align: center;
    margin: 1em 0;
}

/* Search */

.configuration-title.search>.caption-title,
.configuration-title.search>.configuration-search {
    display: none;
}

.configuration-title.search>.caption-search {
    display: block;
}


/* CURRENCY */

#configuration-currency>.page-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#configuration-currency-list-wrapper{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    left: 0;
}

#configuration-currency-option-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex: 80%;
    flex-direction: column;
    left: 0;
    margin-left: 20%; 
}

#configuration-currency-option-wrapper.hidden{
    display: none;
}

#configuration-currency-main-options{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#configuration-currency-imaginary-wrapper{
    display: flex;
    flex-direction: column;
}

#configuration-currency-imaginary-wrapper.hidden{
    display: none;
}

#configuration-currency-main-options.hidden{
    display: none;
}

#configuration-currency-main-options fieldset .legend{
    margin-top: 0.5em;
}

#configuration-currency-main-options fieldset input{
    float: right;
}

#configuration-currency-games-table-wrapper{
    overflow: auto;
    max-height: 66%;
    height: 25vw;
    flex: 1;
    display: flex;
    justify-content: center;
}

#configuration-currency-games-table-wrapper.hidden{
    display: none;
}

#configuration-currency-games-table{
    width: 30%
}
#configuration-currency-games-table tr.highlighted{
    background: #76869b;
}


#configuration-currency-games-table table{
    width: 100%;
}

#configuration-currency-games-table td {
    background-color: #3e4a58;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.65);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.65);
    text-align: center;
}

#configuration-currency-games-table td div.table.hidden{
    display: none !important;
}

#configuration-currency-games-table td.collapsed {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#configuration-currency-games-table td .table {
    display: block;
    transition: all ease 0.3s;
}

#configuration-currency-games-table td .game-title {
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid #ffffff1f;
    background-color: #465261;
    transition: all ease 0.3s;
}

#configuration-currency-games-table td.collapsed .table {
    height: 0 !important;
}

#configuration-currency-games-table td.collapsed .game-title {
    margin: 0;
    padding: 0;
    color: #d2d2d2;
    border: none;
    background-color: transparent;
}

#configuration-currency-default-jackpot-settings-wrapper{
    overflow: auto;
    max-height: 66%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#configuration-currency-default-jackpot-settings-wrapper.hidden{
    display: none
}

#configuration-currency-conversion-table{
    flex: 0.7;
    margin-left: 10em;
}

#configuration-currency-games-table caption{
    justify-content: center;
}

#configuration-currency-default-jackpot-settings-list{
    display: flex;
    justify-content: center;
}

#configuration-currency-default-jackpot-settings-options{
    margin-top: 5em;
    display: flex;
    align-self: center;
    flex-direction: column;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}

#configuration-currency-default-jackpot-settings-options.hidden{
    display: none;
}

#configuration-currency-default-jackpot-settings-options.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
}

/* FORM */ 

#configuration-currency-black-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

#configuration-currency-form-main.hidden{
    display: none;
}

/* Form */

.configuration-currency-form-title {
    display: flex;
}

.configuration-currency-form-title>h2 {
    flex: 1;
}

/* Buttons */

#configuration-currency-form-bet-group-table-wrapper {
    overflow: auto;
    padding-bottom: 5%;
}

#configuration-currency-form-bet-group-table{
    margin: 1em;
}

#configuration-currency-form-button-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.3em;
    margin: 1em;
    margin: auto;
    width: 100%;
}

#configuration-currency-form-button-wrapper button,
#configuration-currency-form-create-button-wrapper button {
    margin: 0.3em 0;
    width: 100%;
}

#configuration-currency-form-create-button-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.3em;
}

#configuration-currency-form-update {
    position: absolute;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #434a5c;
    transition: transform 0.5s, box-shadow 0.1s;
    transform: translate3d(100%, 0, 0);
}

#configuration-currency-form-update-back {
    margin-right: 2em;
    height: 2.5em;
    align-self: center;
}

#configuration-currency-form-update.show {
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, 0, 0);
}

/* Buttons end */

#configuration-currency-form,
#configuration-new-currency-form {
    position: fixed;
    width: 35em;
    height: 35em;
    max-height: 100%;
    align-self: center;
    background-color: #434a5c;
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -25%, 0);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s;
}

#configuration-currency-form.show,
#configuration-new-currency-form.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
}

.configuration-currency-form-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.configuration-currency-form-wrapper h2 {
    margin: 0.5em 0;
}

#configuration-currency-form-bet-group-table table{
    width: 100%;
}

#configuration-currency-form-bet-group-table caption{
    display: table-caption;
}

#configuration-currency-form-create-step-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}


/* END FORM*/

/* NEW CURRENCY FORM */

.configuration-currency-form-new-currency-title {
    display: flex;
}

.configuration-currency-form-new-currency-title>h2 {
    flex: 1;
}

/* SWITCH */

.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px;
    height: 20px;
    width: 20px;
    background-color: #313c4a;
    border-radius: 20px;
    padding: 0 20px 0 0 !important;
}

.switch div {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #dd9853;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.switch span {
    background: #c17743;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    transition: all 300ms;
}

.switch input:checked~div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.switch input:checked+span {
    opacity: 1;
}

.switch:before,
.switch:after {
    display: none !important;
}

#label-for-configuration-new-currency-checkbox {
    padding: 0 0 0 1em;
    align-items: center;
    justify-content: center;
    display: flex;
}

#label-for-configuration-new-currency-checkbox:before,
#label-for-configuration-new-currency-checkbox::after{
    display: none !important;
}

#configuration-currency-form-new-currency-inputs form{
    display: flex;
    justify-content: center;
}

/* END SWITCH */

#configuration-currency-form-new-currency-main.hidden{
    display: none;
}

#configuration-currency-form-new-currency-main-back {
    margin-right: 2em;
    height: 2.5em;
    align-self: center;
}

#configuration-new-currency-imaginary-wrapper{
    opacity: 0;
}

#configuration-new-currency-imaginary-wrapper.hidden {
    display: none;
}

#configuration-new-currency-imaginary-wrapper.show {
    transition: opacity 1s;
    opacity: 1;
}

#configuration-new-currency-code.hidden {
    display: none;
}

#configuration-currency-existing-currency-list-wrapper.hidden {
    display: none
}

#configuration-currency-form-new-currency-inputs .legend {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.configuration-currency-form-new-currency-button-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

#configuration-currency-real-currency-list-wrapper .option-wrapper {
    max-height: 10em !important;
}

#configuration-new-currency-form-main-next {
    width: 100%;
}

#configuration-currency-form-new-currency-games-bet-step {
    position: absolute;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #434a5c;
    transition: transform 0.5s, box-shadow 0.1s;
    transform: translate3d(100%, 0, 0);
}

#configuration-currency-form-new-currency-games-bet-step.show {
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, 0, 0);
}

#configuration-currency-form-new-currency-games-bet-step-back{
    margin-right: 2em;
    height: 2.5em;
    align-self: center;
}

#configuration-new-currency-form-bet-group-save {
    width: 100%;
}

/* END NEW CURRENCY FORM */

/* MOBILE */

.mobile #configuration-form-users .configuration-form-bet-group-wrapper {
    margin-top: 0;
}

.mobile .configuration-form-cancel:hover {
    background-color: #313c4a !important;
}

.mobile #configuration-form {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none;
    bottom: auto;
    right: auto;
    margin: 0;
}

.mobile .configuration-section {
    flex: auto;
    margin-bottom: 1em;
}

.mobile #configuration-profile-form {
    grid-template-columns: 1fr;
}

.mobile .configuration-profile-wrapper input,
.mobile .configuration-profile-wrapper button {
    width: 100%;
}

