#dashboard-players-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1em;
    margin-bottom: 1em;
}

#dashboard-players-wrapper>div {
    flex: 1;
}

#dashboard-players-wrapper h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dashboard-players-wrapper>div>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dashboard-players-wrapper>div>div:nth-child(1)>.select {
    margin-left: 0.5em;
}

#dashboard-chart-wrapper {
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}

#dashboard-chart-wrapper h2 {
    text-align: center;
}

#dashboard-portals-wrapper {
    width: 100%;
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#dashboard-portals .page-content-wrapper {
    display: flex;
    flex-direction: column;
}

#dashboard-portals-search-wrapper {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #3a4050;
}

#dashboard-portals-search-wrapper input {
    width: 30em;
    text-align: center;
}

/* MOBILE */

.mobile #dashboard-players-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.mobile #dashboard-players-wrapper>div:nth-last-child(1)>div:nth-child(1) {
    display: block;
}

.mobile #dashboard-players-wrapper>div:nth-last-child(1)>div:nth-child(1)>.select {
    margin-bottom: 0.5em;
    margin-left: 0;
    width: 100%;
}

.mobile #dashboard-chart-wrapper {
    width: 100%;
}

.mobile #dashboard-portals-search-wrapper input {
    width: 100%;
}