#dashboard-players-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1em;
    margin-bottom: 1em;
}

#dashboard-players-wrapper>div {
    flex: 1;
}

#dashboard-players-wrapper h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dashboard-players-wrapper>div>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dashboard-players-wrapper>div>div:nth-child(1)>.select {
    margin-left: 0.5em;
}

#dashboard-chart-wrapper {
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}

#dashboard-chart-wrapper h2 {
    text-align: center;
}

#dashboard-portals-wrapper {
    width: 100%;
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#dashboard-portals .page-content-wrapper {
    display: flex;
    flex-direction: column;
}

#dashboard-portals-search-wrapper {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #3a4050;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard-portals-search-wrapper input {
    width: 30em;
    text-align: center;
}

#portals-table {
    flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#portals-table table {
    width: 100%;
}

#portals-table.hidden {
    display: none;
}

#dashboard-portals-remove-search {
    background: transparent;
    height: 1.5em;
    padding: 0;
    width: 1.5em;
    border-radius: 2px;
    margin-left: -1.8em;
    transition: background-color 0.3s ease;
}

#dashboard-portals-remove-search:hover {
    background-color: #a53825;
}


#portals-table td {
    background-color: #3e4a58;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.65);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.65);
}

#portals-table td.collapsed {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#portals-table td .table {
    display: block;
    transition: all ease 0.3s;
}

#portals-table td .portal-title {
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid #ffffff1f;
    background-color: #465261;
    transition: all ease 0.3s;
}

#portals-table td.collapsed .table {
    height: 0 !important;
}

#portals-table td.collapsed .portal-title {
    margin: 0;
    padding: 0;
    color: #d2d2d2;
    border: none;
    background-color: transparent;
}

/* MOBILE */

.mobile #dashboard-players-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.mobile #dashboard-players-wrapper>div:nth-last-child(1)>div:nth-child(1) {
    display: block;
}

.mobile #dashboard-players-wrapper>div:nth-last-child(1)>div:nth-child(1)>.select {
    margin-bottom: 0.5em;
    margin-left: 0;
    width: 100%;
}

.mobile #dashboard-chart-wrapper {
    width: 100%;
}

.mobile #dashboard-portals-search-wrapper input {
    width: 100%;
}

.mobile #dashboard-portals-remove-search {
    background-color: #a53825;
    height: 1.8em;
    width: 1.8em;
    border-radius: 3px;
    margin-left: -2.4em;
}