#configuration-jackpot>.page-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.jackpot-get-time{
    display: flex;
    align-items: center;
}
.jackpot-get-time>button{
    margin: 1%;
}
.jackpot-time-legend{
    margin: 0.5em;
}
#configuration-jackpot > tbody{
    position: absolute;
}

#jackpotHistoryTable .cell{
    display: block;
}
#activeJackpotTable{
    margin-top: 0.1%;
}
.jackpot-get-time #configuration-jackpot-operators-list-wrapper{
    margin-right: 1%;
}
.configuration-section > #search-active-mobile-width,#search-history-mobile-width{
    display: none;
    color: white;
    background-color: #313c4a;
    border-bottom: none;
    height: 2.5em;
    float: right;
}
/* .configuration-section > #search-history-mobile-width
{
    display: flex;
    color: white;
    background-color: #313c4a;
    border-bottom: none;
    height: 2.5em;
    float: right;
} */

/* mobile view */
.mobile #jackpot-get-settings{
    display: block;
    position: relative;
    width: 100%;
}

.mobile #jackpot-get-history{
    display: block;
    
}

.mobile #hide-history-in-mobile{
    display: none
}

.mobile #search-history-mobile-width{
    width: 100%;
}

.mobile #hide-active-in-mobile{
    display: none
}
.mobile #search-active-mobile-width{
    width: 100%;
    display: none;
}
