#operators-main>.page-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#operators-table {
    flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4em;
}

#operators-table table {
    width: 100%;
}

#operators-table.hidden {
    display: none;
}

#operators-black-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

#operators-operator-enabled-wrapper {
    width: 100%;
    margin: 0.5em 0;
    text-align: center;
}

.disabled-portal {
    color: #ff7373;
    opacity: 0.5;
}

/* SEARCH BAR */

#operators-main-search-wrapper{
    position: absolute;
}

#operators-main-search-wrapper.hidden{
    display: none;
}

#operators-main-search-wrapper input {
    width: 30em;
    text-align: center;
    display: inline-block;
}

#operators-main-remove-search {
    background: transparent;
    height: 1.5em;
    padding: 0;
    width: 1.5em;
    border-radius: 2px;
    margin-left: -1.8em;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#operators-main-remove-search:hover {
    background-color: #a53825;
}

/* FORM */

.operators-form-title {
    display: flex;
}

.operators-form-title>h2 {
    flex: 1;
}

/* Buttons */

#operators-add-new {
    width: 3em;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    margin: 2px 2px 3px 0;
    border-radius: 0.2em;
}

#operators-form-cancel,
#operators-form-portal-back,
#operators-form-jackpot-back {
    align-self: center;
    transition: all 0.3s;
}

#operators-form-cancel {
    position: relative;
    width: 3em;
    height: 3em;
}

#operators-form-cancel::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

#operators-form-cancel::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

#operators-add-new::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 0.7rem;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

#operators-add-new::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 0.7rem;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

/* Buttons end */

#operators-form {
    position: fixed;
    width: 35em;
    height: 50em;
    max-height: 100%;
    align-self: center;
    background-color: #434a5c;
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -25%, 0);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s;
}

#operators-form.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
}

.operators-form-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.operators-form-wrapper h2 {
    margin: 0.5em 0;
}

#operators-form input[type='text'] {
    width: 100%;
}

#operator-name.disabled {
    filter: grayscale(1) opacity(0.5);
}

.operators-form-inputs {
    width: 100%;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.operators-form-inputs>* {
    margin: 0.3em 0;
    width: 100%;
}

#operators-form table {
    width: 100%;
}

#operators-form table td label {
    width: 100%;
}

#operators-form table td {
    display: flex;
}

#operators-portals {
    overflow: auto;
    flex: 1;
}

#operators-games-wrapper,
#operators-games-wrapper>.select,
#operators-games-wrapper>.select>.selected {
    width: 100%;
}

#operators-form-button-wrapper,
#operators-form-portal-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.3em;
}

#operators-form-button-wrapper {
    grid-template-columns: 1fr;
}

#operators-form-button-wrapper button,
#operators-form-portal-button-wrapper button {
    margin: 0.3em 0;
    width: 100%;
}

#operators-form-button-wrapper button:nth-child(2),
#operators-form-portal-button-wrapper button:nth-child(2) {
    float: right;
}

#operators-form-button-wrapper.edit,
#operators-form-portal-button-wrapper.edit {
    grid-template-columns: 1fr;
}

#operators-form-button-wrapper.edit #operators-form-remove,
#operators-form-portal-button-wrapper.edit #operators-form-portal-remove {
    display: none;
}

/* Portal edit */

#operators-form-portal,
#operators-form-jackpot {
    position: absolute;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #434a5c;
    transition: transform 0.5s, box-shadow 0.1s;
    transform: translate3d(100%, 0, 0);
}

#operators-form-portal-back,
#operators-form-jackpot-back {
    margin-right: 2em;
}

#operators-form-portal.show,
#operators-form-jackpot.show {
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, 0, 0);
}

.operators-form-jackpot-button {
    text-transform: uppercase;
}

#operators-form .select,
#operators-form .select .selected {
    width: 100%;
}

/* MOBILE */

.mobile .operators-form-wrapper {
    padding: 0;
}

.mobile #operators-form-cancel,
.mobile #operators-form-back {
    background-color: #313c4a !important;
}

.mobile .operators-form-inputs {
    margin-top: 0;
}

.mobile #operators-form {
    /* position: absolute; */
    /* bottom: auto; */
    bottom: 0;
    position: fixed;
    width: 95%;
    height: 91.5%;
    box-shadow: none;
    right: auto;
    margin: 0;
}

.mobile #operators-main-search-wrapper input {
    width: 85%;
}

.mobile #operators-main-remove-search {
    background-color: #a53825;
    height: 1.8em;
    width: 1.8em;
    border-radius: 3px;
    margin-left: 0.2em;
}