.players-flex-wrapper {
    display: flex;
}

.player-flex-column-wrapper {
    display: flex;
    flex-direction: column;
}

.players-flex-one-wrapper {
    flex: 1;
}

.players-aligin-center {
    align-self: center;
}

.players-form-title {
    display: flex;
}

.players-form-wrapper {
    position: relative;
    width: 100%;
    height: 35em;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.players-form-wrapper h2 {
    margin: 0.5em 0;
}

.players-form-cancel {
    align-self: center;
    transition: all 0.3s;
    position: relative;
    width: 3em;
    height: 3em;
}

.players-form-cancel::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.players-form-cancel::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.players-form-cancel {
    width: 3em;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 2px 3px 0;
    border-radius: 0.2em;
}

/* PLAYER TAB */

#players-player .page-content-wrapper {
    justify-content: flex-start;
}

#players-get-player.hidden,
#players-player-players-search-wrapper.hidden,
#players-player-players-table-wrapper.hidden,
#players-player-data-wrapper.hidden,
#players-player-periods-canvas-wrapper.hidden,
#players-player-main-wrapper.hidden {
    display: none;
}

#players-player-main-wrapper {
    width: 100%;
    flex: 1;
}

#players-player-players-wrapper {
    height: 70em;
}

#players-player-players-wrapper.shrink {
    width: 8%;
}

#players-player-data-main-wrapper {
    height: 80%;
}

#players-player-players-table-wrapper table {
    display: flex;
    flex-direction: column;
}

#players-player-players-table-wrapper table tbody tr {
    text-align: center;
}

#players-player-players-search-wrapper,
#players-player-players-table-wrapper {
    margin-top: 0.5em;
}

#players-player-data-summary-info-wrapper,
#players-player-data-summary-total-wrapper,
#players-player-data-summary-section-wrapper {
    padding-bottom: 5em;
}

#players-player-data-summary-section-wrapper button {
    border-radius: 5em;
    width: 90%;
    margin: 1em;
}

#players-player-operators-list-wrapper,
#players-player-portals-list-wrapper {
    padding-right: 1em;
}

#players-player-players-table-wrapper td {
    width: 20em;
}

#players-player-data-groups-and-dashboard-wrapper,
#players-player-data-summary-wrapper,
#players-player-data-periods-wrapper {
    padding-right: 3em;
    padding-top: 2em;
    padding-left: 2em;
}

#players-player-data-summary-wrapper {
    background-color: #313c4a;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 1em;
}

#players-player-data-summary-wrapper h3 {
    margin: 0;
    padding-left: 1em;
}

#players-player-data-wrapper {
    margin-left: 5em;
    width: 92%;
}

#players-player-data-flgas-wrapper {
    align-self: center;
}

#players-player-data-periods-wrapper {
    justify-content: space-around;
}

#players-player-jackpot-main-wrapper,
#players-player-transaction-table-wrapper {
    margin-top: 2em;
}

#players-player-transaction-get {
    height: 2.5em;
}

#players-player-transaction-header-wrapper {
    justify-content: space-between;
}

#players-player-unresolved-wins-main-wrapper,
#players-player-unresolved-wins-specific-game-wrapper,
#players-player-history-main-wrapper {
    margin: 2em;
    overflow: auto;
}

#players-player-game-history-wrapper {
    height: 100%;
}

#players-player-game-history-options-wrapper {
    height: 30%;
}

#players-player-game-history-iframe-wrapper {
    height: 63%;
}

#players-player-game-history-options-parameters-wrapper,
#players-player-game-history-options-wrapper {
    justify-content: space-evenly;
}

#players-player-game-history-get {
    height: 2.5em;
    align-self: center;
}

/* END PLAYER TAB */

/* PLAYERS TAB */
#players-main .page-content-wrapper{
    overflow-x: hidden;
}

#players-get-main.hidden{
    display: none;
}
#players-get-main{
    padding-right: 1em;
    margin-bottom: 1em;
}

#players-main-options-wrapper ,
#players-main-settings-wrapper,
#players-form-popup-title {
    display: flex;
}

#players-main-operators-list-wrapper,
#players-main-portals-list-wrapper{
    padding-right: 1em;
    margin-bottom: 1em;
}
.column {
    flex: 50%;
    margin-left: 0.5%;
}

#players-interesting-players-title,
#players-latest-players-title,
#players-players-groups-title,
#players-largest-bets-title,
#players-largest-wins-title,
#players-winners-losers-title{
    display: none;
}

#players-main-title-id-player {
    margin-left: 0.5em;
}

/*END PLAYERS TAB */

/* PLAYER GROUP TAB */

#players-main-options-wrapper{
    display: flex;
}
#players-groups-operators-list-wrapper,
#players-groups-portals-list-wrapper {
    padding-right: 1em
}

#players-groups-main-wrapper {
    height: 95%;
}

#players-groups-groups-wrapper {
    height: 95%;
}

#players-groups-groups-wrapper.shrink {
    width: 10.5%;
}

#players-get-groups.hidden,
#players-groups-groups-search-wrapper.hidden,
#players-groups-groups-table-wrapper.hidden,
#players-groups-data-wrapper.hidden,
#players-groups-period-canvas-wrapper.hidden,
#players-groups-main-wrapper.hidden {
    display: none;
}

#players-groups-groups-search-wrapper,
#players-groups-groups-table-wrapper {
    margin-top: 0.5em;
}

#players-groups-groups-search,
#players-player-players-search {
    width: 100%;
}

#players-groups-groups-remove-search,
#players-groups-suggested-players-remove-search,
#players-player-players-remove-search {
    background: transparent;
    height: 2.35em;
    padding: 0;
    width: 1.5em;
    border-radius: 2px;
    margin-left: -1.8em;
}

#players-groups-groups-table-wrapper {
    height: 95%;
    margin-top: 0.5em;
}

#players-groups-groups-table-wrapper table {
    display: flex;
    flex-direction: column;
}

#players-groups-groups-table-wrapper tbody,
#players-player-players-table-wrapper tbody {
    overflow: auto;
    max-height: 68em;
}

#players-groups-dashboard-and-players-wrapper,
#players-groups-suggested-players-wrapper,
#players-groups-period-graphs-wrapper {
    padding-right: 3em;
    padding-top: 2em;
    padding-left: 2em;
}

#players-groups-players-table-wrapper {
    overflow: auto;
    max-height: 27em;
}

#players-groups-suggested-players-list-wrapper {
    height: 85%;
    overflow: auto;
    margin-top: 2em; 
}

#players-groups-suggested-players-list-wrapper table {
    width: 100%;
}

#players-groups-suggested-players-list-wrapper table caption {
    display: table-caption;
}

/* PLAYER GROUP FORM */ 

#players-groups-black-overlay,
#players-main-black-overlay, 
#players-player-black-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

#players-groups-form,
#players-main-form,
#players-player-jackpot-form,
#players-player-transaction-form,
#players-player-unresolved-wins-form,
#players-player-history-form {
    position: fixed;
    width: 35em;
    height: 35em;
    max-height: 100%;
    align-self: center;
    background-color: #434a5c;
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -25%, 0);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.3s;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

#players-groups-criteria-form.hidden{
    display: none;
}

#players-groups-form.show,
#players-main-form.show,
#players-player-jackpot-form.show,
#players-player-transaction-form.show,
#players-player-unresolved-wins-form.show,
#players-player-history-form.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
}

#players-groups-criteria-details-form,
#players-player-unresolved-wins-specific-game-form,
#players-player-game-history-form {
    position: absolute;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #434a5c;
    transition: transform 0.5s, box-shadow 0.1s;
    transform: translate3d(100%, 0, 0);
}

#players-groups-criteria-details-form.show,
#players-player-unresolved-wins-specific-game-form.show,
#players-player-game-history-form.show {
    box-shadow: 0 0 2.5em 0em rgba(0, 0, 0, 0.3);
    transform: translate3d(0, 0, 0);
}

#players-groups-criteria-detailsinputs-wrapper,
#players-groups-criteria-list-wrapper {
    margin-top: 1em;
}

#players-groups-criteria-list-wrapper {
    height: 100%;
    overflow: auto;
}

/* END PLAYER GROUP FORM */

/* END PLAYER GROUP TAB */

