#statistic-summary-filter,
#statistic-compared-filter,
#statistic-per-game-filter,
#statistic-games-summary-filter {
    display: flex;
    flex-wrap: wrap;
}

#statistic-summary-filter>*,
#statistic-compared-filter>*,
#statistic-per-game-filter>*,
#statistic-games-summary-filter>* {
    margin: 0.5em 0.5em;
}

#statistic-get-summary.hidden,
#statistic-get-compared.hidden,
#statistic-get-per-game.hidden,
#statistic-get-games-summary.hidden {
    display: none;
}

#statistic-get-summary,
#statistic-get-compared,
#statistic-get-per-game,
#statistic-get-games-summary {
    display: inline;
    padding: 0.25rem 1rem;
}

#statistic-summary-graphs.hidden,
#statistic-compared-graphs.hidden,
#statistic-per-game-graphs.hidden,
#statistic-games-summary-graphs.hidden {
    display: none;
}

#statistic-summary-table .last,
#statistic-per-game-table .last,
#statistic-games-summary-table .last {
    background-color: #3e4a58;
}

#statistic-compared-table>h2 {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    padding-bottom: 1em;
    margin-bottom: 0;
}

#statistic-compared-table>.compared-header {
    display: flex;
}

#statistic-compared-table>.compared-header>.header-games-list {
    flex: 1;
    margin-left: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#statistic-compared-table>.compared-header>.header-games-list button {
    margin: 0 0.2em;
}

#statistic-compared-table .table .tbody .head.cell:nth-child(1)>.remove-btn {
    display: none !important;
}

/* MOBILE */

.mobile #statistic-summary-table .last,
.mobile #statistic-per-game-table .last,
.mobile #statistic-games-summary-table .last {
    background-color: #3e4a58;
}

.mobile #statistic-summary-filter>*,
.mobile #statistic-compared-filter>*,
.mobile #statistic-per-game-filter>*,
.mobile #statistic-games-summary-filter>* {
    margin: 0.5em 0;
}

.mobile #statistic-get-summary,
.mobile #statistic-get-compared,
.mobile #statistic-get-per-game,
.mobile #statistic-get-games-summary {
    padding: 0.85rem 1rem;
    width: 100%;
}

.mobile #statistic-compared-table>.compared-header {
    flex-direction: column;
}

.mobile #statistic-compared-table>.compared-header>.header-games-list {
    flex: none;
}

.mobile #statistic-compared-table>.compared-header>.header-games-list button {
    margin: 0.2em 0.2em;
}