@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 400px;
    flex-direction: row-reverse;
    font-family: 'roboto';
    user-select: none;
    font-size: 0.3cm;
    outline: none !important;
}

.mobile {
    font-size: 4vw;
}

/* @media (max-width:730px) and (min-width:580px) {
    body {
        font-size: 14px;
    }
} */