@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 400px;
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    font-family: 'roboto';
    user-select: none;
    font-size: 0.3cm;
    outline: none !important;
}

.mobile {
    font-size: 4vw !important;
}

input {
    font-family: 'roboto' !important;
    font-size: inherit !important;
    height: 2em;
    padding: 0.8rem;
    margin: 0.1rem 0;
    border: none;
}

label {
    cursor: pointer;
    position: relative;
    padding-left: 1.5rem;
}

button {
    color: white;
    background: #419ad4;
    border: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
    cursor: pointer;
    font-size: inherit;
}

button:active {
    transform: scale3d(0.99, 0.99, 0.99);
}

button:hover {
    background: #57a5d8;
}

input[type=checkbox] {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

label:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: white;
    top: 0;
    left: 0;
    border-top: none;
    border-right: none;
}

label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.25rem;
    background: transparent;
    top: 25%;
    left: 4%;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

label:hover::after {
    opacity: 0.2;
}

input[type=checkbox]:checked+label:after {
    opacity: 1;
}