.navbar {
    border-bottom: 2px solid #00000021;
    padding-bottom: 0.2em;
    position: relative;
}

.navbar a {
    text-decoration: none !important;
    color: #d2d2d2;
    padding-bottom: 0.2em;
    margin: 0 0.6em;
    cursor: pointer;
}

.navbar a.active {
    color: #ffffff;
    border-bottom: solid 2px #feb940;
}

.navbar>a:nth-last-child(1) {
    float: right;
    cursor: pointer;
}

.navbar>.tabs-wrapper>a:nth-child(1) {
    margin-left: 0;
}

.money-icon {
    display: inline-block;
    color: #3ab54a;
    height: 0.85em;
    width: 0.8em;
    position: relative;
}

.money-icon:before {
    position: absolute;
    top: 0;
}

.navigation-wrapper {
    display: inline-block;
}

.tabs-wrapper {
    display: inline-block;
    float: left;
}

.logo {
    display: none;
}

/* ================== MOBILE  ================== */

.mobile .logo {
    background-image: url("../images/logo2.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0.2em 1.5em 0 0;
    width: 1.8em;
    float: left;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;
}

.logo:hover {
    filter: brightness(1.3);
}

.mobile-select {
    display: none;
    cursor: pointer;
}

.mobile .navbar {
    border: none;
    height: 2.8em;
    display: inline-block;
}

.mobile .navbar .mobile-select {
    display: block;
    padding: 0.7em;
    background-color: #3d4552;
    color: #ffffff;
}

.mobile .navbar>a {
    float: left;
    padding: 0.7em;
    background-color: #3d4552;
}

.mobile .navbar .currency-label {
    display: none;
}

.mobile .navbar .tabs-wrapper.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -1.5em, 0);
    height: 0;
}

.mobile .navbar .tabs-wrapper {
    display: inline-flex;
    flex-direction: column;
    background-color: #425269;
    box-shadow: 0.3em 0px 1em -0.2em rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
}

.mobile .navbar .tabs-wrapper>a {
    padding: 0.7em;
    margin: 0;
    border: none;
}

.mobile .navbar .tabs-wrapper>a:hover {
    background-color: #637288;
}